
## Log files ##
*.log 

## SSH ##
*.ppk

## MAX POWER FILES
/FTP/*
logs/
MaxPowerTracker/.vs/*
MaxPowerTracker/MaxPower/__pycache__/*

## SITE ## 
.vscode
.well-known

## USER DEFINED FILES ##
VCODE_DualPowerGeneration.code-workspace

## MANUEVER SYSTEM ##
ManeuverSystem/DualPowerGeneration/Debug/* 

## SQL ##
SQL_Queries/BackUps/archive/*

## RPi ##
archive/NOOBS_v3_3_1.zip
archive/NOOBS_v3_3_1
archive/2020-02-13-raspbian-buster-full
archive/ipaddr_rpi.txt