
## Log files ##
*.log 

## SSH ##
*.ppk

## MAX POWER FILES
/FTP/*
logs/
MaxPowerTracker/.vs/*
MaxPowerTracker/MaxPower/__pycache__/*

## SITE ## 
.vscode
.well-known

## USER DEFINED FILES ##
VCODE_DualPowerGeneration.code-workspace

# MANUEVER SYSTEM
ManeuverSystem/DualPowerGeneration/Debug/* 
