{% extends "loggedin_layout.html" %} {% block title %} Unit List {% endblock %}
<!---->
{% block content %}
<div class="container">
  <h1>Unit List</h1>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for unit in object_list %}

        <tr>
          <td>
            <a href="{{unit.pk}}">{{ unit.name }}</a>
          </td>
          <td>{{ unit.email }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
